@font-face {
    font-family: 'Antonio', sans-serif;
    src: url(https://fonts.google.com/specimen/Antonio)
}

@media all {
    body {
        max-width: 1000px;
        margin:auto;
    }
}
/* First Journal Styling*/
section.firstJournal {
    background-color: lightsalmon;
}

.firstJournal h2 {
    text-align: center;
}

*#Friday {
    color: rgb(13,44,169);
}

.J1List {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-width: 5px;
    border-color: black;
    border-style: dashed;
    border-radius: 1cm;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
}

details:hover{
    color: red;
}

ol > li {
    text-decoration: underline;
}

summary + p{
    color: darkblue;
}

/*Second Journal Styling*/
.secondJournal {
    background-color: #7BD187;
    text-align: center;
}

#picture {
    display: block;
    padding: 30px 30px 30px 80px;
    margin: auto;
    height: 500px;
    width: 500px;
}

#Day2List {
    width: 900px;
    margin: 10px 10px 10px 10px;
    align-self: center;
}

.secondList{
    margin-left: 50px;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.thirdJournal{
    background-color: hsl(274,100%,79%);
    text-align: center;
}

h2 {
    font-family: 'Antonio', sans-serif;
}

#video {
    position: relative;
    top: 0cm; left: 0cm;
    
}

h2 ~ p{
    text-decoration:underline;
}

/*Style Header and Footer*/
header {
    position: sticky;
    top: 0cm;
    background-color: aqua;
    text-align: center;
}

body {
    background-color: aqua;
}

.navlink {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.firstlink {
    grid-column-start:auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

.secondlink {
    grid-column-start:auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

.thirdlink {
    grid-column-start:auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

form input {
    margin-left: 15em;
    margin-bottom: 10mm;
    max-width: 100ch;
    min-width: 50ch;
    max-height: 5ex;
    min-height: 5ex;
}

section {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}